<h2>Add new Student</h2>
{{#if msg}}
<div class="alert">{{msg}}</div>
{{/if}}
<form action="/adduser" method="post">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name">
</div>
<div class="form-group">
    <label for="age">Age</label>
    <input type="text" name="age">
</div>
<div class="form-group">
    <label for="city">City</label>
    <input type="text" name="city">
</div>
<div class="form-group">
    <button type="submit">Submit</button>
    <a href="/">View all</a>
</div>





</form>

